<%- include('../partials/header') %>
<body>
    <a href="/">Home</a>
    <a href="/skills/">Skills</a>
    <h3><%= skill.skill %></h3>
    <h3>Mastered: <%= skill.mastered ? 'Yes' : 'No' %></h3>
    <a href ="/skills/<%= skill.id %>/edit">Edit Skill</a>
</body>
